@inherits LayoutComponentBase

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	<header class="mb-auto">
		@*<div>
			<h3 class="float-md-left mb-0 logo"><img src="/images/logo.webp" alt="Roemen Company" /></h3>
			<nav class="nav nav-masthead justify-content-center float-md-right">
				<NavLink class="nav-link" aria-current="page" ActiveClass="active" href="#">Home</NavLink>
				<NavLink class="nav-link" ActiveClass="activve" href="/contact">Contact</NavLink>
			</nav>
		</div>*@
	</header>

	<main class="px-3">
		@Body
	</main>

	<footer class="mt-auto text-white-50">
		<p>&copy; 2020 Roemen Company. All rights reserved.</p>
	</footer>
</div>
